body > header { min-width: 760px; }

body
{
	 background: #eee;	
}

.debug1
{
	border:#FF0000 thin solid;
}
.debug2
{
	border:#0000FF thin solid;
}
.mybox
{
	padding:0 0 0 0 ;
	overflow:hidden;
	z-index:10;
	background:url(menu_back.JPG);
	width: 950px;	
}

.mymenu
{
	padding: 0 0 0 0;
	margin-top:40px;	
	background:#FFFFFF;
	background-image: url(../res/menu_back.JPG);
}

.myheader
{
	background:#FFFFFF;
	background-image: url(../res/menu_back.JPG);
	height:100px;	
	}

.ym-col1 { 
	width: 15%; 
	padding: 0 0 0 0;
	margin: 0 0 0 0;
} /* left column */
.ym-col2 { 
	width: 85%; 

	padding: 0 0 0 0;
	margin: 0 0 0 0;	
} /* left column */


.ym-column
{
	margin: 0 0 0 0 ;
	padding: 0 0 0 0;
}

.vnav
{
	margin: 0 0 0 0 ;
	padding: 2px 2px 2px 2px;
	height: 500px;	
	background: #FFFFFF;
	overflow:hidden;
	border-right:thin #CCCCCC solid;
}

.contentbox
{
	margin: 0 0 0 10px ;
	padding: 2px 2px 2px 2px;		
	height: 500px;
	background: #FFFFFF;
	overflow:hidden;
	position:relative;
}

