body > header { min-width: 760px; }

body
{
	 background: #eee;	
}

.debug1
{
	border:#FF0000 thin solid;
}
.debug2
{
	border:#0000FF thin solid;
}
.mybox
{
	padding:0 0 0 0 ;
	overflow:hidden;
	z-index:10;
	background:${ip}/res/menu_back.JPG;
}

.mymenu
{
	padding: 0 0 0 0;
	margin-top:40px;	
	background:#FFFFFF;
	background-image: ${ip}/res/menu_back.JPG;
}

.ym-column
{
	margin: 0 0 0 0 ;
	padding: 0 0 0 0;
}

.nonlive
{
	display:none;	
}

.alive
{
	display:block;	
}