
<style type="text/css">
.xx{}
li{list-style:none;}
.config{padding:0 0 0 0;margin:0 0 0 0;border:1px solid #cccccc;position:relative;}
.config_items_font{font-size:10px}
.config_items_content_left1{width:50px;}
.config_items_content_left2{width:40px;}
.config_items_content_left3{width:60px;}
.config_items_content_left4{width:370px;}
.config_items_content_left5{width:80px;}
.config_items_content_left6{width:80px;}
.config_items_content_left7{width:80px;}
#id_config_items_content {background:#eeeeee;display:none;}
.config_items_content > div{clear:both;border:1px #cccccc solid;}
#id_config_items_content li:hover{background:#4281B7;}
.config_items_title{padding:3px 0 3px 10px;margin:0px 0 0 0 ; height:16px}
.config_items_title > div{float:left;}
.config_items_list{height:450px;overflow-y:scroll;}
.config_items_list > div{clear:both;height:50px;}
.config_items_item {background:#eeeeee;padding:5px 0 5px 0;border-bottom:1px #cccccc solid;}
.config_items_item_odd {background:#ffffff;}
.config_items_item > div {float:left;}
.config_items_item img {height:50px;width:50px;}
#id_config_items_content .config_items_item_button{border-left:1px solid #cccccc;top:padding-left:5px;}
.page_nav > div {float:left;}
.page_nav li {float:left;border:1px #cccccc solid;padding:0 3px 0 3px; margin:10px 5px 0 5px;}
#id_config_items_show_info{border:0;margin-left:100px;margin-right:50px;}
#id_config_items_item_sort{margin:0 0 0 0;padding:0 0 0 15px; height:16px;}
#id_config_items_item_sort:hover{background:#4281B7;}

</style>

<div class="config" id="id_show_config">
	<div class="config_search">
	<#include "config_introduct.html">
	<#include "config_content.html">
	</div>
	<div class="config_items_content config_items_font" id="id_config_items_content" title="Basic modal dialog">
        <#include "config_search.html">
        <div class="config_items_title" id="id_config_items_title">
        	<div class="config_items_content_left1">
            	<input type="checkbox" name="select_all" id="items_select_all"/>
        		<label for="items_select_all">全选</label>
        	</div>
        	<div class="config_items_content_left2">
        		状态
        	</div>            
        	<div class="config_items_content_left3">
        		缩略图
        	</div>
        	<div class="config_items_content_left4" style="text-align:center;">
        		商品标题
        	</div>
        	<div class="config_items_content_left5" id="id_config_items_item_sort">
        		<a>当前状态</a>
        	</div>
        </div>
        
        <div class="config_items_list" id="id_items_list"></div>
        <div class="page_nav" id="id_config_items_page_nav">
            <div class ="page_nav_operator" id="id_config_items_page_nav_bat">
                <li id="id_config_items_page_nav_force_inshow" href="${ip}/index.html/showdatamanager?action=forceShow"><a>加入强制推荐</a></li>
                <li id="id_config_items_page_nav_force_no_inshow" href="${ip}/index.html/showdatamanager?action=forbidShow"><a>加入禁止推荐</a></li>
                <li id="id_config_items_page_nav_normal" href="${ip}/index.html/showdatamanager?action=normalShow"><a>恢复普通推荐</a></li>
                <li class="config_items_show_info" id="id_config_items_show_info">已强制推荐个数<b>10</b></li>
            </div>
        
            <li href="${ip}/index.html/showconfigitemmanager?action=head"><a>头页</a></li>
            <li href="${ip}/index.html/showconfigitemmanager?action=pre"><a>上页</a></li>
            <li><input type="text" value="1" id="id_config_items_jmp_to"style="width:20px;margin:0 0px 0 0px;"/></li>
            <li id="id_config_items_page_nav_total">5</li>
            <li href="${ip}/index.html/showconfigitemmanager?action=jmpto"><a>跳到</a></li>
            <li href="${ip}/index.html/showconfigitemmanager?action=next"><a>下页</a></li>
            <li href="${ip}/index.html/showconfigitemmanager?action=tail"><a>尾页</a></li>
        </div>
        <li id="id_config_status" value="config" style="display:none;"></li>
        <li id="id_cats_select_sure_message" style="display:none;"></li>
        <li id="id_dummy"  style="display:none;"></li>
    </div>
</div>

