
<style type="text/css">
.xx{}

.status
{
	width:900px;
	height:900px;
	border:solid thin #FF0000;
	padding:0 0 0 0;
	margin:0 0 0 0;
	position:relative;
}

.status_search
{
	left:0;
	top:0;
	width:200px;
	height:490px;
	border:solid thin #00FF00;
	position:absolute;
}

.status_list
{
	left:210px;
	top: 0;
	width:460px;
	height:490px;
	border:solid thin #FFFF00;
	position:absolute;
}

</style>

<div class="status">
	<div class="status_search">
	<li>商品名称包含</li>
	<li>类目/所有</li>
	<li>橱窗中的商品/不在橱窗中的商品</li>
	<li>排序方式:上架时间，下架时间，商品数量，修改时间</li>
	<li>每条页数</li>
	<li>使终推荐/使终不推荐/全部</li>
	</div>
	<div class = "status_list">
		<ul class="vertical vertical_first" id="verticalWithHandles">
			<li><span class="drag-handle">List Item 1</span></li>
			<li><span class="drag-handle">List Item 2</span> </li>
			<li><span class="drag-handle">List Item 3</span></li>
			<li><span class="drag-handle">List Item 4</span></li>
			<li><span class="drag-handle">List Item 5</span></li>
			<li><span class="drag-handle">List Item 6</span></li>
		</ul>
	</div>
</div>