<#if items??>
<#list items as item>
<div class="config_items_item">
	<div class="config_items_content_left1 config_items_checkbox" style="margin:20px 0 0 10px ;">
	  <input type="checkbox" name="your-id" id=${item.num_iid} />
	</div>
	<div class="config_items_content_left2" style="margin:20px 0 0 0;">
		<#if item.status = "true"><b>已推荐</b></#if><#if item.status = "false">未推荐</#if>
	</div>
	<div class="config_items_content_left3">
		<img src="${item.pic_url}"/>
	</div>
	<div class="config_items_content_left4"  style="margin:20px 0 0 0 ;">
		${item.title}
	</div>
    <div class="config_items_content_left5" id=${item.num_iid}_status style="margin:20px 0 0 0 ;">
        <#if item.item_status = "forceShow">已被强制推荐</#if>
        <#if item.item_status = "forbidShow">已被禁止推荐</#if>
        <#if item.item_status = "normalShow">普通方式</#if>
    </div> 
    <div class="config_items_content_left7 config_items_item_button" id=${item.num_iid}_force style="margin:20px 0 0 0;padding-left:2px;<#if item.item_status = "forceShow">display:none;</#if>"><a>加入始终推荐</a></div>
    <div class="config_items_content_left7 config_items_item_button" id=${item.num_iid}_forbid style="margin:20px 0 0 0;padding-left:2px;<#if item.item_status = "forbidShow">display:none;</#if>"><a>加入禁止推荐</a></div>
    <div class="config_items_content_left7 config_items_item_button" id=${item.num_iid}_normal style="margin:20px 0 0 0;padding-left:2px;<#if item.item_status = "normalShow">display:none;</#if>"><a>转为普通方式</a></div>
</div>
</#list>
</#if>
<li id="id_config_items_curpage" value="<#if cur_page??>${cur_page}</#if>" style="display:none;"></li>
<li id="id_config_items_totalpage" value="<#if total_page??>${total_page}</#if>" style="display:none;"></li>