<#if cats??>
<ul style="padding-left:20px;">
</#if>
<#if cats??>
<#list cats as cat>
<li id="config_cats_cat_${cat.cid}"><input type="checkbox" id="${cat.cid}" <#if cat.status??><#if cat.status = "selected">checked="checked"</#if></#if>/>
	<a>${cat.title}</a>
	<#if cat.sons??>
	<ul>
		<#list cat.sons as son>
			<li id="config_cats_cat_${son.cid}"><input type="checkbox" id="${son.cid}"/><a>${son.title}</a></li>
		</#list>
	</ul>
	</#if>
</li>
</#list>
</#if>
<#if cats??>
</ul>
</#if>