<style type="text/css">
.112121q{}

.config_content
{
	font-size:14px;
	padding:0 0 0 0;
	margin: 0 0 0 0;
	vertical-align:middle;
	position:relative;
}

.config_cur_status
{
	padding: 10px 0 10px 10px;
	margin: 0 0 0 0;
	border-bottom:1px #cccccc solid;
}

.config_cur_status div
{
	display:block;
}

.config_set
{
	padding: 10px 0 10px 10px;
	margin: 0 0 0 0;
	border-bottom:1px #cccccc solid;
}

.config_set form div
{
		
}

.config_set form li
{
	list-style:none;
}

</style>

<div class="config_content">
	<div class ="config_cur_status">
		<div>当前的策略:全部调整</div>
		<div>始终不推荐的宝贝 (10),<a>查看</a></div>
		<div>始终推荐的宝贝 (2),<a>查看</a></div>
	</div>
	
	<div class="ym-fbox-check config_set">
		<form>
    		<div>
    		    <input type="radio" name="adjust" value="all" checked="checked"/>
    		    <label for="all-adjust">所有宝贝</label>
    		</div>
    		<div>
    		    <input type="radio" name="adjust" value="cats" />
    		    <label for="by-cats">按类目调整</label>
    		</div>
    		<div>
    		    <input type="radio" name="adjust" value="keywords"/>
    		    <label for="by-select">按关键字推荐</label>
    		</div>
    		<div>
    		    <input type="radio" name="adjust" value="config"/>
    		    <label id="select_show_forever" title="index.html/showconfigitemmanager?action=select_forever"><a>配制推荐的宝贝</a></label>
    		</div>
		</form>
	</div>
</div>

