
<style type="text/css">
q{}

.status
{
	width:900px;
	height:600px;
	top:0px;
	left:0px;
	overflow:hidden;
	position:absolute;
	margin:0 0 0 0;
	padding: 0 0 0 0;
	border-bottom:1px solid #CCCCCC;
}

.status_switch
{
	margin:0 0 0 0;
	padding: 0 0 0 0;
	border-bottom:1px solid #CCCCCC;
}

.status_info
{
	margin:0 0 0 0;
	padding: 0 0 0 0;
	border-bottom:1px solid #CCCCCC;
}
.status_info li
{
	list-style:none;
	float:left;
}

</style>

<div class="status">
	<div>
		<div class="status_switch">
			<p>当前正在处于<b><#if run_stop = "stop">停止</#if><#if run_stop = "run">运行</#if></b>状态。</p>
			<#if run_stop = "stop"><a href="/index.html/showstatus/run"></#if>
			<#if run_stop = "run"><a href="/index.html/showstatus/stop"></#if>
			<#if run_stop = "stop">点我启动运行</#if>
			<#if run_stop = "run">点我停止运行</#if></a>
		</div>
		<div class="status_info">
			<li>橱窗总数:${show_case_num}</li>
			<li>已用橱窗:${show_case_used}</li>
			<li>剩余橱窗:${show_case_remained}</li>
			<li>在售商品:0</li>
			<li>强制推荐:0</li>
			<li>强制不荐:0</li>
		</div>
	</div>
	<div class="status_chart">
	</div>
</div>