<div class="picBoard414">
	<div class="picBoard414_Nav picBoard414_Clean">
	 	<h3>看看大家怎么搭配</h3>
	 	<ul>
	 		<li>全部搭配</li>
	 		<li>全部晒货</li>
	 		<li>申请达人</li>
	 	</ul>
<div class="picBoard414">
	<div class="picBoard414_Side picBoard414_F picBoard414_Clean">
			<li>
				<img src="res/220x300/a.jpg"/>
				<span></span>
				<a class="n">搭配1</a></li>
			<li>
				<img src="res/220x300/b.jpg"/>
				<span></span>
				<a class="n">搭配2</a>
			</li>
			<li>
				<img src="res/220x300/c.jpg"/>
				<span></span>
				<a class="n">搭配3</a>
			</li>
			<li>
				<img src="res/220x300/d.jpg"/>
				<span></span>
				<a class="n">搭配4</a>
			</li>
	</div>
	<div class="picBoard414_Middle">
			    		<img src="res/220x300/middle.jpg"/>
			    		<i>我的后时代生活<i>
			    	</div>
			    	<div class="picBoard414_Side  picBoard414_F picBoard414_Clean">
			    		<li>
			    			<img src="res/220x300/a.jpg"/>
			    			<span></span>
			    			<a class="n">搭配3</a>
			    		</li>
			    		<li>
			    			<img src="res/220x300/b.jpg"/>
			    			<span></span>
			    			<a class="n">搭配3</a>
			    		</li>
			    		<li>
			    			<img src="res/220x300/c.jpg"/>
			    			<span></span>
			    			<a class="n">搭配3</a>
			    		</li>
			    		<li>
			    			<img src="res/220x300/d.jpg"/>
			    			<span></span>
			    			<a class="n">搭配3</a>
			    		</li>
			    	</div>
			    </div>
	</div>
</div>

</div>
</div>