<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>${title}首页</title>
<!-- add your meta tags here -->
<link rel="stylesheet" href="css/central.css" type="text/css"/>
<link rel="stylesheet" href="css/screen/custom.css" type="text/css"/>
<link rel="stylesheet" href="yaml/screen/grid-960-12.css" type="text/css"/>
<link rel="stylesheet" href="yaml/screen/grid-960-16.css" type="text/css"/>
<link rel="stylesheet" href="css/g960_411.css" type="text/css"/>
<!--[if lte IE 7]>
<link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
<![endif]-->
</head>
<body>
  <div class="ym-wrapper">
    <div class="ym-wbox">
      <header><#include "menu.html"></header>
      <div class="ym-grid box mybox">
        ${compent3}
  	  </div>
      <div class="ym-grid box mybox">
        ${compent4}
  	  </div>
      <div class="ym-grid box mybox">
        ${compent5}
  	  </div>
      <div class="ym-grid box mybox">
        ${compent6}
  	  </div>
	 </div>
	</div>
  <footer><#include "footer.html"></footer>
  </div>
  </div>
</body>
</html>