<style type="text/css">
q{}
.${model}MNav
{
	width:auto;
	height:auto;
	overflow:hidden;
	position:absolute;
	margin:0 0 0 0;
	padding: 0 0 0 0;
}

.${model}MNav div
{
	margin:0 0 0 0;
	padding:0 0 0 0 ;
	font-size:${title_font_size}px;
}

.${model}MNav_Title
{
	float:left;
}

.${model}MNav ul
{
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
	margin-left:10px;
	overflow:hidden;
}

.${model}MNav li
{
	float:left;
	border-left:1px solid;
	padding-left:10px;
	padding-right:10px;
	margin:7px 0 0 -1px;
	font-size:${nav_font_size}px;
}
</style>
<div class="${model}MNav">
	<div class="${model}MNav_Title">${title}</div>
	<ul>
		<li>全部搭配</li>
		<li>全部晒货</li>
		<li>申请达人</li>
	</ul>
</div>
