<style type="text/css">
q{}

.${model}MPod
{
	width:280px;
	height:auto;
	overflow:hidden;
	position:absolute;
	margin:0 0 0 0;
	padding: 2px 2px 2px 2px;
	border:#FFCCCC 1px solid;
}

.${model}MPod div
{
	float:left;
}

.${model}MPod img
{
	width:45px;
	height:45px;
	float:left;
	margin-right:5px;
}

.${model}MPod li
{
	float:left;
	list-style:none;
	margin-top:7px;
}

</style>

<div class="${model}MPod">
	<div>
	<img src="${img1}" />
	<img src="${img2}" />
	<img src="${img3}" />
	<li>${theme}</li>
	</div>
</div>