<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.html/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Regist</servlet-name>
        <servlet-class>Regist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>log4j-init</servlet-name>
    	<servlet-class>Log4jInit</servlet-class>
    	<init-param>
    		<param-name>log4j</param-name>
    		<param-value>WEB-INF/log4j.properties</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MDispatch</servlet-name>
    	<servlet-class>MDispatch</servlet-class>
    	<load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MShowStatus</servlet-name>
    	<servlet-class>MShowStatus</servlet-class>
    	<load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MShowConfig</servlet-name>
    	<servlet-class>MShowConfig</servlet-class>
    	<load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MShowConfigItemManager</servlet-name>
    	<servlet-class>MShowConfigItemManager</servlet-class>
    	<load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MShowDataManager</servlet-name>
    	<servlet-class>MShowDataManager</servlet-class>
    	<load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>MShowIndex</servlet-name>
    	<servlet-class>MShowIndex</servlet-class>
    	<load-on-startup>100</load-on-startup>
    </servlet>
    <session-config>
	    <session-timeout>5</session-timeout>
    </session-config>
</web-app>
