<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>${title}首页</title>
<!-- add your meta tags here -->
<link rel="stylesheet" href="${ip}/css/central.css" type="text/css"/>
<link rel="stylesheet" href="${ip}/css/screen/custom.css" type="text/css"/>
<link rel="stylesheet" href="${ip}/yaml/screen/grid-960-12.css" type="text/css"/>
<link rel="stylesheet" href="${ip}/yaml/screen/grid-960-16.css" type="text/css"/>
<link rel="stylesheet" href="${ip}/css/g960_411.css" type="text/css"/>

<!--[if lte IE 7]>
<link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
<![endif]-->
</head>

<body>
	<header class="myheader">
		  </header>
  <div class="ym-wrapper">
    <div class="ym-wbox">
	<div class="ym-column">
	  <div class="ym-col1">
		<div class="vnav">
			<#include "ivnav.html">
		</div>
	  </div>
	  <div class="ym-col2">
		<div class="contentbox">
			${compent1}
		</div>
	
	  </div>
	</div>

	</div>
  </div>

  <footer><#include "footer.html"></footer>
</body>
</html>