<style type="text/css">
q{}

.MNav
{
	width:130px;
	height:auto;
	overflow:hidden;
	position:absolute;
	margin:0 0 0 0;
	padding: 0 0 0 0;
	background: #FFFFFF;
	border:1px solid #FFDDFF;
}

.MNav div
{
	float:left;
}

.MNav img
{
	float:left;
}

.MNav li
{
	float:left;
	list-style:none;
	margin-top:7px;
}

</style>

<nav class="MNav">
    <li><a href="/index.html/showindex">自动橱窗</a></li>
    	<ul>
        	<li><a href="/index.html/showstatus">运行状态</a></li>
        	<li><a href="/index.html/showconfig/temp/a/b/cdsdfafdsa/122/vfsd?778fsl">橱窗配置</a></li>
        	<li><a href="/index.html/showplan">计划任务</a></li>
      	</ul>
    <li><a href="#">自动上架</a></li>
    <li><a href="#">自动评价</a></li>
</nav>