<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=GBK" />
<title>${title}</title>
<!-- add your meta tags here -->
<link rel="stylesheet" href="yaml/core/base.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css"/>
<link rel="stylesheet" href="css/central.css" type="text/css"/>

<!--[if lte IE 7]>
<link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
<![endif]-->

</head>
<body>
<body>
	<ul class="ym-skiplinks">
	<li><a class="ym-skip" href="#nav">Skip to navigation (Press Enter)</a></li>
	<li><a class="ym-skip" href="#main">Skip to main content (Press Enter)</a></li>
	</ul>
	<div class="ym-wrapper">
	  <div class="ym-wbox">
	    <header><h1>DouLe</h1></header>
	    <main>
			<nav class="ym-hlist">
			  <ul>
			    <li class="active"><strong>Index</strong></li>
			    <li><a href="#">two</a></li>
			    <li><a href="#">three</a></li>
			    <li><a href="#">four</a></li>
			    <li><a href="#">five</a></li>
			    <li><a href="/a/login">Login</a></li>
			  </ul>
			
			  <!-- optional search form -->
			  <form class="ym-searchform">
			    <input class="ym-searchfield" type="search" placeholder="Search..." />
			    <input class="ym-searchbutton" type="submit" value="Search" />
			  </form>
			</nav>		

			<div class="ym-grid">
			  <div class="ym-g20 ym-gl">
			    <div class="ym-gbox">
<nav class="ym-vlist">
  <h6 class="ym-vtitle">Optional Title</h6>
  <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><span>Link 3</span>
      <ul>
        <li><a href="#">Link 3.1</a></li>
        <li class="active"><strong>Link 3.2</strong></li>
        <li><a href="#">Link 3.3</a></li>
      </ul>
    </li>
    <li><a href="#">Link 4</a></li>
    <li><a href="#">Link 5</a></li>
  </ul>
</nav>

			    </div>
			  </div>
			  <div class="ym-g80 ym-gr">
			    <div class="ym-gbox">
			     the Right
			     ...
			    </div>
			  </div>
		 	</div>	
				<div class="ym-fbox-select">
  <label for="your-id">More Options</label>
  <select name="your-id" id="your-id" size="1">
    <option value="0" selected="selected" disabled="disabled">Please choose</option>
    <optgroup label="First options to choose from">
      <option value="value #1">Option 1</option>
      <option value="value #2">Option 2</option>
    </optgroup>
    <optgroup label="Yet more options to choose from">
      <option value="value #3">Option 3</option>
      <option value="value #4">Option 4</option>
      <option value="value #5">Option 5</option>
    </optgroup>
  </select>
</div>

<div class="ym-fbox-button">
  <input type="submit" class="ym-button" value="submit" id="submit" name="submit" />
  <input type="reset" class="ym-button" value="reset" id="reset" name="reset" />
  <input type="button" class="ym-button" value="button" id="button1" name="button1" />
</div>
	<!-- simple buttons -->
<button class="ym-button">text</button>
<a href="#" class="ym-button">text</a>

<!-- buttons with icons -->
<button class="ym-button ym-email">text</button>
<a href="#" class="ym-button ym-add">text</a>
<table>
  <thead>
    <tr>
      <th> ... </th>
      ...
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> ... </td>
      ...
    </tr>
  </tbody>
</table>
<div class="ym-contain-oh">Avoid this method if you use e.g. CSS3 box-shadows on child elements, as these shadows will be clipped as well.
</div>
    </main>
	    <footer>
	    
	    </footer>
	  </div>
	</div>
</body>
</html>