<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=GBK" />
<title>Login</title>
<!-- add your meta tags here -->
<link rel="stylesheet" href="yaml/core/base.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css"/>
<link rel="stylesheet" href="css/central.css" type="text/css"/>
<link rel="stylesheet" href="css/screen/login.css" type="text/css"/>

<!--[if lte IE 7]>
<link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
<![endif]-->

</head>
<body>
<div class="ym-wrapper">
	<div class="ym-wbox">
		<main>
			<div class="ym-grid">
			  <div class="ym-60 ym-gl">
			    <div class="box info">
			    	<h1>ABC</h1>
			    </div>
			  </div>
			  <div class="ym-g40 ym-gr">
			    <div class="ym-gbox ym-gbox-login">
			    	<form method="post" class="ym-form linearize-form ym-columnar">
						<div class="ym-fbox-text">
					  		  <label for="user-id">User ID:
					  			<!--><sup class="ym-required" title="this is you user id"></sup><!-->
					  		  </label>
					  		<input type="text" name="user-id" id="user-id" size="20" />
						</div>
						<div class="ym-fbox-text">
					 		<label for="user-screct">Screct
					 			<!--><sup class="ym-required" title="this is sss"></sup></label><!-->
					  		<input type="text" name="user-screct" id="user-screct" size="20" />
						</div>	
						<div class="ym-fbox-button">
						  <input type="submit" class="ym-button" value="Submit" id="submit" name="submit" />
						  <input type="button" class="ym-button" value="No Id?" id="button1" name="button1" />
						</div>
					</form>		    
				</div>
			  </div>
		 	</div>	
		</main>
		<footer>
			<#include "footer.html">
		</footer>
	</div>
</div>
</body>
</html>