<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=GBK" />
<title>Register</title>
<!-- add your meta tags here -->
<link rel="stylesheet" href="yaml/core/base.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css"/>
<link rel="stylesheet" href="css/central.css" type="text/css"/>
<link rel="stylesheet" href="css/screen/login.css" type="text/css"/>

<!--[if lte IE 7]>
<link rel="stylesheet" href="yaml/core/iehacks.min.css" type="text/css"/>
<![endif]-->

</head>
<body>
<div class="ym-wrapper">
	<div class="ym-wbox">
		<main>
			<div class="ym-grid">
			    <div class="ym-gbox ym-gbox-login">
			    	<div class="ym-g20 ym-gr"></div>
			    	<div class="ym-g60 ym-gr">
			    	<form method="post" action="" id="demo-form1" class="ym-form linearize-form ym-columnar" role="application">
							<div class="ym-fbox-text">
								<label for="user_id">User ID</label>
								<input type="text" name="user_id" id="user_id" size="20">
							</div>
							
							<div class="ym-fbox-text">
								<label for="email">Email</label>
								<input type="text" name="user_id" id="email" size="20">
							</div>
							
							<div class="ym-fbox-text">
								<label for="sercet">Sercet</label>
								<input type="text" name="user_id" id="sercet" size="20">
							</div>
							
							<div class="ym-fbox-text">
								<label for="sercet-re">SercetRe</label>
								<input type="text" name="user_id" id="sercet-re" size="20">
							</div>
								
							<div class="ym-fbox-check">
								<input type="checkbox" name="newsletter" id="newsletter">
								<label for="newsletter">I agree</label>
							</div>	
												
							<div class="ym-fbox-button">
								<input type="submit" value="submit" class="save" id="submit" name="submit">
							</div>
					</form>   
					</div> 
				</div>
		 	</div>	
		</main>
		<footer>
			<#include "footer.html">
		</footer>
	</div>
</div>
</body>
</html>